{% extends 'blog/layout.html' %} {% block content %}
<div class="content-section">
  <div class="media">
    <a href="{{user.profile.image.url}}" target="_blank"
      ><img
        class="rounded-circle account-img"
        src="{{user.profile.image.url}}"
        alt="profile_picture"
    /></a>
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
</div>
{% for post in posts %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %} {% endblock content %}
